<!DOCTYPE html>
<html>
  <head>
    <title>Meetup town</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body class="h-100">
    <div class="h-100" id="video_display">
      <img src="images\meetup_icon.svg" alt="icon" class="image-icon">

      <div id ="video_container" class="align-items-center" style="margin-top: 10%;">
        <div class="local_div" id="div1" style="">
	  <video id="localVideo" class="" autoplay muted playsinline></video>
	</div>
        <ul id="remotes">
        </ul>
      </div>
    </div>
    
    <div id="chatBoard">
    </div>


    <form id="form1" action="#">
      <textarea id="input-message"></textarea>
      <input type="button" id="send-button" onclick="showMessage()" value="送信">
    </form>
    
    <!-- Import WebRTC adapter for compatibility with all the browsers  -->
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="dist\bundle.js"></script>
  </body>
</html>
