*, ::after, ::before {
    box-sizing: border-box;
}

html {
    display: block;
    line-height: 1.15;
}

div {
    display: block;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body *::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body * {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
    margin: 0;
    line-height: 1.5;
    height: 100%;
/*
    color: #bbb;
    text-align: left;
    display: block;
    background-color: #3c3c3c;
    height: 100%;
*/
    font-family: 'Noto Sans JP', sans-serif;
}

/*
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.send-button {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 30px;
    text-align: center;
    margin: 10px 5px 10px;
    padding: 0px;
    color: #595959;
    background-color: transparent;
    border: none;
}

.message-form {
    display: block;
    height: 100px;
    width: 500px
    vertical-align: top;
}

.chatBoardContainer {
    background-color: #3c3c3c;
    width: 500px;
    padding: 10px;
    margin: 20px;
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    height: 40vh;
    scroll-snap-type: y proximity;
}

.chatBoard>.chat-item {
    padding: 10px;
    background-color: #595959;
    border-radius: 10px;
    margin: 10px 5px 10px;
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.2);
}

.chatBoard>.chat-item>.chat-userName-date-container {
    display: block;
}

.chatBoard>.chat-item>.chat-userName-date-container>.chat-userName-item {
    color: #c0e1ee;
    font-size: 16px;
}

.chatBoard>.chat-item>.chat-userName-date-container>.chat-date-item {
    color: #e7e7e7;
    float: right;
    font-size: 14px;
}

.chatBoard>.chat-item>.chat-message-item {
    display: block;
    color: #fff;
    font-size: 14px;
}

.chatBoard>.my-message {
    background-color: #3c3c3c;
}

#input-message {
    color: #fff;
    border: none;
    outline: none;
    margin: 10px 5px 10px;
    font-family: 'Noto Sans JP', sans-serif;
    width: 400px;
    background-color: #3c3c3c;
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
}

#input-message:hover {
    border: 2px solid #5eb9e0;
    box-shadow: 0 0px 25px 0 rgba(0, 0, 0, 0.2);
}

.send-button-container {
    width: 30px;
    font-size: 30px;
}

.send-button:hover{
    color: #5eb9e0ff;
    cursor: pointer;
}

.send-button-container:hover {
    color: #5eb9e0ff;
    cursor: pointer;
}

.send-button-container>input {
    display: none;
}

.ml-auto, .mx-auto {
    margin-left: auto!important;
}

.mr-auto, .mx-auto {
    margin-right: auto!important;
}

.font-weight-bold {
    font-weight: 600!important;
}

.text-center {
    text-align: center!important;
}


.jumbotron {
    background-color: #e9ecef;
}



.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}


.container {
    margin-right: auto;
    margin-left: auto;
}
*/


/* For Desktop  */
/*
.col-12 {
    position: relative;
    width: 40%;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
}

#h1 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem!important;
    margin-top: 0px!important;
}



@media (orientation: landscape) {
    .btn-danger {
	display:block;
	font-size : 15px;
	margin:auto;
	width: 15%;
	height: 25px;
	color: #fff;
	background-color: #25274d;
	border-color: #25274d;
    }
    
    .btn {
	display:block;
	font-size : 15px;
	margin:auto;
	margin-right:0px;
	width: 15%;
	height: 25px;
	color: #fff;
	background-color: #25274d;
	border-color: #25274d;
    }
    
    .btn_option {
	display:block;
	font-size : 15px;
	margin:auto;
	width: 50%;
	height: 25px;
	color: #fff;
	background-color: #25274d;
	border-color: #25274d;
    }
    
    
    
    #room_value {
	margin-left: 20px;
    }
    
    .local_div {
	width:33%;
	float:left
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
    }

    .remote_div {
	width:33%;
	float:left;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
    }

    .header {
        text-align: center;
    }

    .header>span {
        margin: 30px 5px;
        text-color: #999;
    }
    
    
    .video-board-container {
	display: flex;
        width: 80vw;
        height:30vh;
    }
    
    .video-container {
 	width: 33%;
	margin: auto;
	height: 100% 
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.2);
    }

    #local-video {
        width: 30%;
        height: 30%;
    }
    
    #local-video>.video-board-container {
        display: block;
        float: left;
        margin: 0;
	width: 20%;
	height: 50%;
    }

    #local-video>.video-board-container {
    	width: 100%;
        margin: 0;
	height: 100% 
    }
    
    video {
	width:100%;
    }

}
*/

/* For Mobile */
/*
@media (orientation: portrait)
{
    .row {
	margin-right: -15px;
	margin-left: -15px;
    }

    .col-12 {
	padding-right: 15px;
	padding-left: 15px;
	position: relative;
	width: 100%;
    }

    .container {
	max-width: 310px;
	padding-right: 5px;
	padding-left: 5px;
    }

    .jumbotron {
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	border-radius: .3rem;
    }

    #h1 {
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1.2;
	margin-bottom: 1rem!important;
	margin-top: 0px!important;
    }

    #label_name {
	font-size: 17px;
	width: 100%;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    .form-control {
	height:35px;
	font-size:20px;
	display: block;
	width: 100%;
	padding: .375rem .75rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .btn {
	font-size : 16px;
	width: 100%;
	height: 35px;
	color: #fff;
	background-color: #25274d;
	border-color: #25274d;
    }

    .local_div {
	display: flex
	;
	width: 100%;
	position:relative;
        overflow:hidden;
        z-index:-1;
    }

    .remote_div {
	width: 120px;
	display: block;
	position:absolute;
	top:0px;
	right:0px;
	z-index:1;
    }

    .remote2_div {
	width: 120px;
	display: block;
	position:absolute;
	top:95px;
	right:0px;
	z-index:1;
    }

    #video_container {
	height: 80%;
	position:relative;
	display:flex;
	flex-wrap:wrap
    }
    
    .remote_div video {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
    }

    .remote2_div video {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
    }
    
    .btn-danger {
	font-size : 16px;
	width: 100%;
	height: 35px;
	color: #fff;
	background-color: #25274d;
	border-color: #25274d;
    }
    
}



*/

